* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  border-color: red;
}


main {
  background-image: url('assets/Screenshot\ 2023-07-20\ at\ 2.32.06\ PM.png');
  height: 70rem;
  background-size: cover;
  background-repeat: no-repeat;
} 

aside {
  position: fixed;
  display: inline-block;
  overflow: auto;
  width: 200px;
  height: 100vh;
  box-sizing: border-box;
}

.image-bad-bunny {
  position: relative;
  margin: 14px auto;
  width: 140px;
  height: 140px;
  overflow: hidden;
  border-radius: 50%;
}

.side-header {
    display: inline-block;
}

.graph-image {
  display: block;
  margin: auto;
  width: 250px;
  padding-top: 32px;
}

.graphs {
  display: flex;
  height: 300px;
  width: 100%;
  background-color: rgba(15, 74, 22, 0.884);
}

h1 {
  display: inline-block;
  margin-top: 255px;
  padding-left: 25px;
  color: #fff;
  font-weight: lighter
}

h2 {
  padding-bottom: 7px;
  text-align: center;
  font-weight: normal;
}

h4 {
  margin: 10px 0px 10px 20px;
  color: #D3D3C6
}

ul li {
  font-weight: lighter;
  font-size: .8em;
  opacity: .75;
}

h4 ~ ul li {
  margin: 6px 0px 4px 11px;
  padding-top: 4px;
  padding-bottom: 6px;
  list-style-type: none;
  color: #fff;
}

h4 ~ ul li i {
  width: 30px;
  text-align: center;
  color: #fff;
}

header {
  position: relative;
  height: 390px;
  width: 100%;
}

.main-content {
  display: inline-block;
  width: calc(100% - 200px);
  margin-left: 200px;
}

.nav-bar li {
  display: inline-block;
  box-sizing: border-box;
  width: 95px;
  text-align: center;
  color: #fff;
  line-height: 50px;
}

.circle-graphs {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}

.graph {
  box-sizing: border-box;
  width: 130px;
  height: 130px;
  background-color: rgba(255, 255, 255, .1);
  border-radius: 68px;
  border: 5px solid #ff0
}

.text {
  line-height: 110px;
  font-size: 3em;
}

.bottom-text {
  margin-top: 30px;
}

.graph-button {
  margin-left: 20px;
  margin-top: 20px;
}

.circle-graph-text {
  color: #ff0;
  /* transform: rotate(-45deg); */
  text-align: center;
}

.twitter-image, .instagram-image {
  width: 10px;
  height: 10px;
}