* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  border-color: red;
}


main {
  background-image: url('assets/Screenshot\ 2023-07-20\ at\ 2.32.06\ PM.png');
  height: 70rem;
  background-size: cover;
  background-repeat: no-repeat;
} 

aside {
  position: fixed;
  display: inline-block;
  overflow: auto;
  width: 200px;
  height: 100vh;
  box-sizing: border-box;
}

.image-bad-bunny {
  position: relative;
  margin: 14px auto;
  width: 140px;
  height: 140px;
  overflow: hidden;
  border-radius: 50%;
}

.side-header {
    display: inline-block;
}

.graph-image {
  display: block;
  margin: auto;
  width: 250px;
  padding-top: 32px;
  margin-left: 60px;
  margin-top: 30px;
}

.graphs {
  display: flex;
  height: 300px;
  width: 100%;
  background-color: rgba(15, 74, 22, 0.884);
}

h1 {
  margin-top: 255px;
  color: #fff;
  font-weight: lighter
}

h2 {
  padding-bottom: 7px;
  text-align: center;
  font-weight: normal;
}

h4 {
  margin: 10px 0px 10px 20px;
  color: #D3D3C6
}

ul li {
  font-weight: lighter;
  font-size: .8em;
  opacity: .75;
}

h4 ~ ul li {
  margin: 6px 0px 4px 11px;
  padding-top: 4px;
  padding-bottom: 6px;
  list-style-type: none;
  color: #fff;
}

h4 ~ ul li i {
  width: 30px;
  text-align: center;
  color: #fff;
}

header {
  position: relative;
  height: 390px;
  width: 100%;
}

.main-content {
  display: inline-block;
  width: calc(100% - 200px);
  margin-left: 200px;
}

.nav-bar li {
  display: inline-block;
  box-sizing: border-box;
  width: 95px;
  text-align: center;
  color: #fff;
  line-height: 50px;
}

.circle-graphs {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}

.graph {
  box-sizing: border-box;
  width: 130px;
  height: 130px;
  background-color: rgba(255, 255, 255, .1);
  border-radius: 68px;
  border: 5px solid orange
}

.text {
  line-height: 110px;
  font-size: 3em;
}

.bottom-text {
  margin-top: 30px;
}

.graph-button {
  margin-left: 20px;
  margin-top: 20px;
}

.circle-graph-text {
  color: white;
  text-align: center;
}

.twitter-image,
.instagram-image,
.mic-image,
.home-image,
.events-image,
.music-image,
.radio-image,
.setting-image,
.menu-image,
.search-image,
.add-image,
.calendar-image, 
.marker-image,
.pencil-image {
  width: 10px;
  height: 10px;
}

.bar-graph-button {
  margin-left: 100px;
  margin-top: 40px;
}

.search {
  display: inline-block;
  position: absolute;
  left: 95px;
  height: 50px;
  line-height: 50px;
  margin-left: -4px;
  background-color: #FFFDFE;
  width: 77%;
}

.fi-br-add, .hamburger-angle,
.fi-br-grid-alt, .fi-br-search, .fi-rr-calendar-days {
  display: inline-block;
  width: 90px;
  height: 50px;
  background-color: #FFFDFE;
  color: #7D7478;
  font-size: 1.2em;
  line-height: 50px;
  text-align: center;
  border: 1px solid #C5B9BB;
  border-top: 0px;
  border-bottom: 0px;
}

.search-image {
  margin-left: 20px;
  margin-right: 20px;
}

/* .fi {
  display: inline-block;
} */

.search-setting {
  width: 80%;
  height: 45px;
}

.hamburger-angle {
  border-left: 0px;
  display: inline-block;
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.fi-rr-calendar-days {
  border-right: 0px;
}

.fi-br-add {
  margin-right: -5px;
}

.fi-br-grid-alt {
  margin-left: -5px;
}

.grid-image {
  width: 10px;
  height: 10px;
}

/* .table-head {
  padding-left: 8px;
}

th {
  background-color: rgba(0, 0, 0, .7);
  line-height: 30px;
  color: rgba(255, 255, 255, .7);
  font-weight: normal;
}

.table-hr {
  position: absolute;
  left: 15%;
  width: 70%;
  border: 0px;
  height: 1px;
  background-color: rgba(0, 0, 0, .1);
}

.table {
  font-size: .8em;
  min-width: 97px;
  padding-right: 0px;
}

td {
  height: 55px;
  padding: 0px 25px;
}

.tablet {
  margin: 20px;
  border-collapse: collapse;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, .7);
  color: rgba(0, 0, 0, .9);
} */

.table-1 {
  top: 115px;
}

.table-2 {
  top: 170px;
}